body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/img/cardboard.jpg");
  background-size: cover;
}

a {
  color: #161;
}

.search { position: relative; }
.search input { text-indent: 22px;}
.search .js-search-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 15px;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: auto;
  position: relative;
}

.card {
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}

.kth-card {
  height: 100%;
  margin: 1px;
  padding: 8px;
  border: 0;
  border-radius: 0;
  background-color: #fafafa;
}

.stats {
  position: fixed;
  background: white;
  left: 0;
  top: 10%;
  background: white;
}
.stats ul {
  list-style: none;
  font-size: 180%;
  padding: 5px;
  margin: 5px 5px 0 5px;
}
.stats ul li {
  margin: 5px 0;
  text-align: right;
}
.stats ul li b {
  display: inline-block;
  border-radius: 3px;
  padding: 2px;
}
.fb-icon {
  font-size: 200%;
  color: #4267b2;
}
.stats-icon {
  width: 1.2em;
  text-align: left;
}
